<!-- <div class="container">
    
    <h2>Login Form</h2>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/nav">Login</button>
    </form>
  </div>
  
   -->
   <!-- <body>
    <img src="P2.jpg" alt="picha">   
    </body> -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login Form</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <br>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-primary px-4" routerLink="/">Login</button>
                </div>
              </div> 
                <br>
                <div class="col-6 text-right">
                    <div>
                  <button type="button" class="btn btn-link px-0">Forgot username or password?</button>
                </div>
                <br>
                <div class="col-6 text-right">
                    <div>
                  <button type="button" class="btn btn-link px-0" routerLink="/registration">register here</button>
                </div>
                <!-- <div class="image-container">
                    <img src="p2.jpg" alt="picha">
                  </div>
                </div>
                 -->

                