<!-- 

<ul class="navbar">
  <li class="nav-item"><a href="#">Payment</a></li>
  <li class="nav-item"><a href="#">Services</a></li>
  <li class="nav-item"><a href="#">About</a></li>
  <li class="nav-item"><a href="#">Home</a></li>
</ul>
<router-outlet></router-outlet>  -->
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
 <!-- <router-outlet></router-outlet>  -->
 <!-- <app-customer-list></app-customer-list> -->
 <!-- <app-customer-payment></app-customer-payment> -->
 <!-- <app-customer-details></app-customer-details> -->
<!-- <app-navigation></app-navigation> -->
<!-- <app-customer-order></app-customer-order> -->
<!-- <app-customer-list></app-customer-list> -->
<!-- <nav class="nav nav-bar-expand-sm bg-primary navbar-dark">
 

<h1 class="text-center">{{title}}</h1>
<div class="container">

  <router-outlet></router-outlet>
</div>
<footer class="footer">
 <div class="container">
  <span>Developed by Delight@.yuba</span>
 </div>
</footer> -->

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> Main Dashboard</mat-toolbar>
    <mat-nav-list>


 <a mat-list-item href="#">Admin</a>

  <a mat-list-item href="/customer">Customer</a>

  <a mat-list-item href="#">Result</a>


  <a mat-list-item href="#">log out</a>  
      
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <h1>STADIUM APPLICATION SYSTEM</h1>
        </span>
    </mat-toolbar>
     Add Content Here
   </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet> 
<footer class="footer">  
  <div class="container">
   <span>All right reserved 2023</span>
  </div>
 </footer>
 <nav class="nav nav-bar-expand-sm bg-primary navbar-dark">
  <div class="container">
  <ul class="navbar-nav">
 -->
<!-- <div class="content"> -->
  
  <h1 style="text-align: center;">STADIUM APPLICATION SYSTEM</h1>
 <ul class="navbar">
  <li class="nav-item"><a href="/login">Logout</a></li>
  <li class="nav-item"><a href="/view">Results</a></li>
  <li class="nav-item"><a href="/customer-list">customer list</a></li>
  <li class="nav-item"><a href="/customer">customer form</a></li>
  <li class="nav-item"><a href="/home">Home</a></li>
</ul>




  <div class="container-fluid page-content">
    <!-- Your page content goes here -->
  </div>

  <router-outlet></router-outlet>

  <footer class="footer">
    <div class="container">
      <span>Designed && Developed by Delight@.yuba.com 2023</span>
    </div>
  </footer>

 

<!-- 
<footer class="footer">  
  <div class="container">
   <span>All right reserved 2023</span>
  </div>
 </footer>
 <nav class="nav nav-bar-expand-sm bg-primary navbar-dark">
  <div class="container">
  <ul class="navbar-nav">  -->







 
