<h3>View Customer Details</h3>
<div>
    <div>
        <label><b>name: </b></label>{{customer.name}}
    </div>
    <div>
        <label><b>email: </b></label>{{customer.email}}
    </div>
    <div>
        <label><b>phone : </b></label>{{customer.phone}}
    </div>
    <!-- <img src="../../assets/Images/P3.jpg" alt="picha"> -->
    <img src="../../assets/Images/P4.jpg" alt="picha">
    <!-- <img src="../../assets/Images/p10.avif" alt="picha"> -->
    <!-- <img src="../../assets/Images/p10.avif" alt="picha"> -->
    <!-- <img src="../../assets/Images/p11.avif" alt="picha"> -->
    <!-- <img src="../../assets/Images/p11.avif" alt="picha"> -->

    <img src="../../assets/Images/p8.avif" alt="picha">
    <!-- <img src="../../assets/Images/p12.avif" alt=""> -->



    <!-- <img src="../../assets/Images/P3.jpg" alt="picha"> -->
    <!-- <img src="../../assets/Images/P4.jpg" alt="picha"> -->