<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> Main Dashboard</mat-toolbar>
    <mat-nav-list>


 <a mat-list-item href="#">Admin</a>

  <a mat-list-item href="/customer">Customer</a>

  <a mat-list-item href="#">Result</a>


  <a mat-list-item href="#">log out</a>  -->
      
    <!-- </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <h1>STADIUM APPLICATION SYSTEM</h1>
        </span>
    </mat-toolbar>
     Add Content Here -->
  <!-- </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet> 
<footer class="footer">  -->
  <!-- <div class="container">
   <span>All right reserved 2023</span>
  </div>
 </footer>
 <nav class="nav nav-bar-expand-sm bg-primary navbar-dark">
  <div class="container">
  <ul class="navbar-nav">
     
      <li class="nav-item">
          <a routerLink="customer-list" routerLinkActive="active" class="nav-link">Customer list</a>
      </li>
      <li class="nav-item">
          <a routerLink="create-customer" routerLinkActive="active" class="nav-link">Application</a>         
      </li>
      <li>
          <a routerLink="login" routerLinkActive="active" class="nav-link">logout</a>   
      </li>
 
  </ul>
</div>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">

  <router-outlet></router-outlet>
</div>
<footer class="footer">
 <div class="container">
  <span>All Right reserved 2023</span>
 </div>
</footer>


 -->









 -->
